.App {
  background-color: #636363;
  height: 100%;
  width: 100%;
}

.blackout {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: 2000;
  cursor: pointer;
}

canvas,
main {
  height: 100%;
  width: 100%;
  outline: 1px solid;
}

/* .html {
  color: white;
}

.fiberHtml {
  display: contents;
} */
