.App {
  background-color: #6469b7;
  height: 100%;
  width: 100%;
}

canvas,
main {
  height: 100%;
  width: 100%;
  outline: 1px solid;
}

.html {
  color: white;
}

.fiberHtml {
  display: contents;
}
